html, body{
    width: 100%;
    height: 100%;
    background-color: #2f3443;
    color: #f2f2f3;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 0 15px;
    margin: 0;
    z-index: 100;
}
#main {
    margin-top: 120px;
}
#main p {
    text-align: center;
}
footer {
    background-color: #242729;
    margin-top: 20px;
    color: #ffffff;
    
}
footer a{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
    background: transparent;
    border: none;
    padding-bottom: 10px;
}
footer a:hover{
    text-decoration: none;
    color: green;
}
#footer-text {
    color: white;
    background-color: white;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: auto
}

.carousel {
    position: relative;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
}

ol.carousel-indicators li.active {
    background: white;
}